PORT=3001

NEST_CLIENT_ID=your_google_oauth_client_id
NEST_CLIENT_SECRET=your_google_oauth_client_secret
NEST_REFRESH_TOKEN=your_google_oauth_refresh_token
NEST_PROJECT_ID=your_device_access_project_id
NEST_DEVICE_NAME=enterprises/project-id/devices/device-id