<service>
  <id>eyos-home-service</id>
  <name>eY OS Home Service</name>
  <description>Private household eY OS web and API service.</description>
  <executable>%BASE%\..\current\node\node.exe</executable>
  <arguments>server\dist\server.js --production</arguments>
  <workingdirectory>%BASE%\..\current</workingdirectory>
  <env name="EYOS_SERVICE_ENV_FILE" value="C:\ProgramData\eY-OS\config\service.env" />
  <serviceaccount>
    <domain>NT AUTHORITY</domain>
    <user>LocalService</user>
    <allowservicelogon>true</allowservicelogon>
  </serviceaccount>
  <startmode>Automatic</startmode>
  <delayedAutoStart>true</delayedAutoStart>
  <stoptimeout>60sec</stoptimeout>
  <onfailure action="restart" delay="15 sec" />
  <onfailure action="restart" delay="60 sec" />
  <onfailure action="none" />
  <resetfailure>1 hour</resetfailure>
  <logpath>C:\ProgramData\eY-OS\logs</logpath>
  <log mode="roll-by-size-time">
    <sizeThreshold>10485760</sizeThreshold>
    <pattern>yyyyMMdd</pattern>
    <autoRollAtTime>00:00:00</autoRollAtTime>
    <zipOlderThanNumDays>7</zipOlderThanNumDays>
    <zipDateFormat>yyyyMMdd</zipDateFormat>
  </log>
</service>
